td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}
table{
    border: 5px black; 
    background: blue;
}
button{
    height: 70px;
    width: 70px;
}
.checker{
    border-radius: 50%;
}
.black{
    background-color: black;
}
.red{
    background-color: red;  
}
body{
    background-size: cover;
    background-image: url("390126_conquestus_sky-daytime.jpg");
}
h1{
    text-align: center;
}
.container{
    margin-left: 440px;
    margin-right: 515px;
}